<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "PersonnelSuite">
    <test name = "PersonnelTest">
        <classes>
            <class name = "test.WorkerTest"/>
            <class name = "test.PositionTypeTest"/>
            <class name = "test.DepartmentTest"/>
            <class name = "test.WorkPositionTest"/>
        </classes>
    </test>
</suite>